<div class="slot-actions">
  @if (showDayAction) {
    @if (canConfirmDay()) {
      <button type="button" class="btn-secondary compact" (click)="confirmDay.emit()">Confirmar día</button>
    }
  } @else if (canActOnSlot()) {
    <button type="button" class="btn-success compact" (click)="confirmSlot.emit()">Confirmar</button>
    <button type="button" class="btn-danger compact" (click)="cancelSlot.emit()">Cancelar slot</button>
  }
  @if (canUnconfirmSlot()) {
    <button type="button" class="btn-warning compact" (click)="unconfirmSlot.emit()">Revertir confirmación</button>
  }
</div>